<div id="resources">
    <h1>Editing Skill Group</h1>

    <%= render 'form', skill_group: @skill_group %>

    <%= link_to 'Show', @skill_group %> |
    <%= link_to 'Back', skill_groups_path %>
</div>