<div id="resume">
    <h3>Summary</h3>
    <hr/>
    <!--Add Fancy as code here-->
    <h3>Technical Skills</h3>
    <hr/>
    <%@skillGroups.each do |skillGroup| %>
        <div id="<%=skillGroup.skillType.camelcase%>">
        <b><%=skillGroup.skillType.to_s+": "%></b>
        <%=skillGroup.skills.map{|skill| skill.skillName}.join(", ")%>
    <%end%>
    <h3>Projects</h3>
    <hr/>
    <!--Add fancy ass code here-->
    <h3>Education</h3>
    <hr/>
</div>
