<h1>Wordpress Example Integration</h1>
<br>
<br>
<%@wordpressPosts.each{|post|%>
<%=link_to post["URL"] do%>
    <h3><%=post["title"].html_safe%></h3>
<%end%>
<div><%=post["excerpt"].html_safe%></div>
<%}%>

