<h1>Wordpress Example Integration</h1>
<br>
<br>
<%@wordpressPosts.each{|post|%>
    <div class=row>
        <h3>
        <%=link_to post["URL"] do%>
            <div class="col-xs-8">
            <%=post["title"].html_safe%>
        </div>
        <div class="col-xs-2">
            <h4><%=post["date"]%></h4>
        </div>
        <%end%>
        </h3>
    </div>
    <div class=row>
        <div class="col-xs-10"><%=post["excerpt"].html_safe%></div>
    </div>
<%}%>

