/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://use.typekit.net/ryi4wlk.css");
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
.rigel-card {
    border: 4px solid #000000;
    @include border-radius(5px);
}
.list-group-item{
    font-family:"hydrophilia-iced";
}
#header_nav{
    border-image-source: image-url("button_border.png");
    border-image-slice: 50;
    border-image-repeat: stretch;
    border-image-outset: 2%;
    border-radius: 18px;
    background-image: image-url("wood_grain.png");
    background-size: 40px;
    background-repeat: repeat;
    .list-group-item{
        font-family: "hydrophilia-iced";
        border:8px solid orange;
        border-image-source: image-url("button_border.png");
        border-image-slice: 50;
        border-image-repeat: stretch;
        border-image-outset: 2%;
        border-radius: 18px;
        background: rgba(0,0,0,0.3);
        padding: 2%;
        margin: 2%;
        a{
            color:#cf9b4b;
            font-size: 1.5em;
        }
    }
}